*{
    margin: 0;
}
nav{
    width: 18%;
    background-color: rgba(7, 7, 44, 0.894);
    height: 100vh;
    position: fixed;
}
nav ul li{
    list-style: none;
    display: block;
}
nav ul li a button{
    background-color: rgba(42, 2, 42, 0);
    width: 100%;
    height: 50px;
    font-weight: bolder;
    color: white;
    border: none;
}
nav ul li a button:hover{
    background-color: rgba(187, 24, 187, 0.638);
}
table{
    width: 100%;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
#button{
    background-color: rgba(7, 7, 44, 0.894);
    border-color: rgba(7, 7, 49, 0.894);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    font-weight: bolder;
    display: inline-block;
}
#button:hover{
    background-color: white;
    color: rgba(7, 7, 44, 0.894);
    border: 2px solid rgba(7, 7, 44, 0.894);
}
.corp{
    margin-left: 20%;
}
#button1{
    background-color: green;
}
#button1:hover{
    background-color: white;
    border: 2px solid green;
    color: green;
}
#button2{
    background-color: red;
}
#button2:hover{
    background-color: white;
    border: 2px solid red;
    color: red;
}
#button3{
    background-color: blue;
}
#button3:hover{
    background-color: white;
    border: 2px solid blue;
    color: blue;
}
#button1,#button2,#button3{
    border: none;
    width: 100px;
    height: 30px;
    font-weight: 550;
    color: white;
}
h2{
    margin-top: 50px;
    color: rgb(241, 64, 94);
}